* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

/* ======================================= District ===================================== */
.quan {
    color: green;
    font-weight: bold;
}

/* ======================================= Input ===================================== */

form {
    margin: 50px auto;
    border: 1px solid;
    border-radius: 5px;
}

.signin {
    width: 50%;
}

form h3 {
    text-align: center;
    padding: 20px 0;
    background-color: lightseagreen;
    color: #ffffff;
}

.gr-form {
    margin: 15px 10%;
    color: gray;
    
}

.gr-form input {
    width : 100%;
    padding: 10px;
    margin-top: 10px;
}

button,a {
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 46%;
    background-color: lightseagreen;
    margin-bottom: 15px;
    color: #ffffff;
    border: none;
}

th {
    padding: 20px;
  }

/* ================================================================================== */

.phuongtrinh {
    width: 25% !important;
}

/* =============================================================================== */

.info {
    padding: 20px !important;
    border: 1px solid;
}

table {
    width: 70%;
    margin: 0 auto;
}

/* ============================================================================ */

button {
    display: block;
    margin: 15px auto;
  }
  
  .gr__remember {
    float: right;
    margin-right: 30px;
    color: gray;
  }
  
  .clear-float {
    display: block;
    clear: both;
  }